<a href="https://colab.research.google.com/github/namrataG01/WeatherAnalysis/blob/main/eda_analysis_of_loan_application.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels
import statsmodels.api as sm
import sklearn

In [3]:
df = pd.read_csv("/content/weather_forecast_data.csv")

**.head() , It shows the first N rows in the data (N = 5)**

In [4]:
df.head()

   Temperature   Humidity  Wind_Speed  Cloud_Cover     Pressure     Rain
0    23.720338  89.592641    7.335604    50.501694  1032.378759     rain
1    27.879734  46.489704    5.952484     4.990053   992.614190  no rain
2    25.069084  83.072843    1.371992    14.855784  1007.231620  no rain
3    23.622080  74.367758    7.050551    67.255282   982.632013     rain
4    20.591370  96.858822    4.643921    47.676444   980.825142  no rain

**.info() , provides basic information of the dataframe**

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  2500 non-null   float64
 1   Humidity     2500 non-null   float64
 2   Wind_Speed   2500 non-null   float64
 3   Cloud_Cover  2500 non-null   float64
 4   Pressure     2500 non-null   float64
 5   Rain         2500 non-null   object
dtypes: float64(5), object(1)
memory usage: 117.3+ KB

**.shape , It shows the total numberof column and total number of row of the data frame**

In [6]:
df.shape

(2500, 6)

In [6]:
df.describe()

       Temperature     Humidity   Wind_Speed  Cloud_Cover     Pressure
count  2500.000000  2500.000000  2500.000000  2500.000000  2500.000000
mean     22.581725    64.347094     9.906255    49.658104  1014.312336
std       7.326996    19.954739     5.780316    29.123104    20.196433
min      10.001842    30.005071     0.009819     0.015038   980.014486
25%      16.359398    47.339815     4.761909    23.900016   996.938630
50%      22.536448    63.920797     9.908572    49.488284  1013.433035
75%      28.976476    81.561021    14.948408    75.324140  1031.735067
max      34.995214    99.997481    19.999132    99.997795  1049.985593

**.index , This attribute provides the index of the dataframe**

In [8]:
df.index

RangeIndex(start=0, stop=2500, step=1)

**.columns , This shows the name of column**

In [10]:
df.columns

Index(['Temperature', 'Humidity', 'Wind_Speed', 'Cloud_Cover', 'Pressure',
       'Rain'],
      dtype='object')

**.dtypes , This shows the type of each column**

In [11]:
df.dtypes

Temperature    float64
Humidity       float64
Wind_Speed     float64
Cloud_Cover    float64
Pressure       float64
Rain            object
dtype: object

**.unique() , In a column It shows all the unique values . It can be applied on single column only not for the whole dataframe**

In [17]:
df['Rain'].unique()

array(['rain', 'no rain'], dtype=object)

**.nunique() , It shows all the unique value of each column**

In [18]:
df.nunique()

Temperature    2500
Humidity       2500
Wind_Speed     2500
Cloud_Cover    2500
Pressure       2500
Rain              2
dtype: int64

   **  .count() , It shows the total number of non null. It can be apply on single column as well as on whole dataframe**

In [19]:
df.count()

Temperature    2500
Humidity       2500
Wind_Speed     2500
Cloud_Cover    2500
Pressure       2500
Rain           2500
dtype: int64

**.value_count() , In a column It shows all the unique value with thier count ,it can be apply on single column only**

In [23]:
df['Rain'].value_counts()

Rain
no rain    2186
rain        314
Name: count, dtype: int64

**Q-1) Find all the unique 'Wind_speed' value in the data**

In [25]:
df['Wind_Speed'].unique()

array([ 7.33560439,  5.95248359,  1.37199182, ...,  2.89712751,
        2.37471725, 18.56308397])

In [26]:
df.head(2)

   Temperature   Humidity  Wind_Speed  Cloud_Cover     Pressure     Rain
0    23.720338  89.592641    7.335604    50.501694  1032.378759     rain
1    27.879734  46.489704    5.952484     4.990053   992.614190  no rain

In [27]:
df.nunique()

Temperature    2500
Humidity       2500
Wind_Speed     2500
Cloud_Cover    2500
Pressure       2500
Rain              2
dtype: int64

In [28]:
df['Wind_Speed'].nunique()

2500

In [51]:
df['Wind_Speed'].unique()

array([ 7.33560439,  5.95248359,  1.37199182, ...,  2.89712751,
        2.37471725, 18.56308397])

**Q-2) Find the number of times when there is rain**

In [31]:
df[df.Rain == 'rain']

      Temperature   Humidity  Wind_Speed  Cloud_Cover     Pressure  Rain
0       23.720338  89.592641    7.335604    50.501694  1032.378759  rain
3       23.622080  74.367758    7.050551    67.255282   982.632013  rain
9       19.586038  82.978293    5.760537    98.014450  1036.503457  rain
11      23.222373  76.877943   15.825673    72.869790   980.108934  rain
16      10.505460  75.456091   14.797331    99.142331  1011.577194  rain
...           ...        ...         ...          ...          ...   ...
2453    17.827472  82.169130    0.469828    83.246856  1030.180411  rain
2458    11.970059  84.451618    6.833904    97.413056  1025.504426  rain
2473    23.367704  93.753660    7.061520    78.769767  1042.865020  rain
2479    23.963077  86.028469    3.612575    84.842039   997.953417  rain
2481    23.976170  77.144515   16.145567    84.636004  1010.286784  rain

[314 rows x 6 columns]

In [32]:
df[df.Rain == 'no rain']

      Temperature   Humidity  Wind_Speed  Cloud_Cover     Pressure     Rain
1       27.879734  46.489704    5.952484     4.990053   992.614190  no rain
2       25.069084  83.072843    1.371992    14.855784  1007.231620  no rain
4       20.591370  96.858822    4.643921    47.676444   980.825142  no rain
5       26.147353  48.217260   15.258547    59.766279  1049.738751  no rain
6       20.939680  40.799444    2.232566    45.827508  1014.173766  no rain
...           ...        ...         ...          ...          ...      ...
2495    21.791602  45.270902   11.807192    55.044682  1017.686181  no rain
2496    27.558479  46.481744   10.884915    39.715133  1008.590961  no rain
2497    28.108274  43.817178    2.897128    75.842952   999.119187  no rain
2498    14.789275  57.908105    2.374717     2.378743  1046.501875  no rain
2499    26.554356  97.101517   18.563084    81.357508  1001.729176  no rain

[2186 rows x 6 columns]

**Q-3) Find all the null values in the data**

In [35]:
df.isnull().sum()

Temperature    0
Humidity       0
Wind_Speed     0
Cloud_Cover    0
Pressure       0
Rain           0
dtype: int64

In [37]:
df.notnull().sum()

Temperature    2500
Humidity       2500
Wind_Speed     2500
Cloud_Cover    2500
Pressure       2500
Rain           2500
dtype: int64

**Q-4) Rename the column name 'cloud_cover' of the dataframe to 'cloud_info'**

In [41]:
df.rename(columns = {'Cloud_Cover' : 'cloud_info'})

      Temperature   Humidity  Wind_Speed  cloud_info     Pressure     Rain
0       23.720338  89.592641    7.335604   50.501694  1032.378759     rain
1       27.879734  46.489704    5.952484    4.990053   992.614190  no rain
2       25.069084  83.072843    1.371992   14.855784  1007.231620  no rain
3       23.622080  74.367758    7.050551   67.255282   982.632013     rain
4       20.591370  96.858822    4.643921   47.676444   980.825142  no rain
...           ...        ...         ...         ...          ...      ...
2495    21.791602  45.270902   11.807192   55.044682  1017.686181  no rain
2496    27.558479  46.481744   10.884915   39.715133  1008.590961  no rain
2497    28.108274  43.817178    2.897128   75.842952   999.119187  no rain
2498    14.789275  57.908105    2.374717    2.378743  1046.501875  no rain
2499    26.554356  97.101517   18.563084   81.357508  1001.729176  no rain

[2500 rows x 6 columns]

**Q-6) What is the mean Humidity**

In [44]:
df.Humidity.mean()

np.float64(64.34709445763546)

***Q-7) what is standard deviation of pressure***

In [45]:
df.Pressure.std()

20.19643279398678